<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Portal - @ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

@RenderBody()

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<partial name="_ValidationScriptsPartial"/>
</body>
</html>