@model Identity.Api.ViewModels.Signin.SigninViewModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="flex min-h-screen items-center justify-center bg-gray-50 p-6">
    <div class="w-full max-w-md bg-white p-8 rounded-xl shadow-xl ring-1 ring-gray-200">
        <h1 class="text-3xl font-semibold text-center text-gray-900 mb-6">Sign in</h1>
        <a asp-action="ExternalSignin" asp-controller="ExternalSigninProviders" asp-route-provider="Microsoft"
           asp-route-request=@ViewData["Request"]>Signin with microsoft</a>
        <a asp-action="ExternalSignin" asp-controller="ExternalSigninProviders" asp-route-provider="Google"
           asp-route-request=@ViewData["Request"]>Signin with google</a>
        <form method="post" class="space-y-6">
            <div>
                <label asp-for="Email" class="block text-sm font-medium text-gray-700">Email</label>
                <input asp-for="Email" type="email"
                       class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 transition duration-300"
                       placeholder="Enter your email"/>
                <span asp-validation-for="Email" class="text-red-500 text-sm"></span>
            </div>
            <div>
                <label asp-for="Password" class="block text-sm font-medium text-gray-700">Password</label>
                <input asp-for="Password" type="password"
                       class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 transition duration-300"
                       placeholder="Enter your password"/>
                <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
            </div>
            <span class="text-red-500 text-sm">@ViewData["error"]</span>
            <button type="submit"
                    class="w-full px-4 py-3 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 transition duration-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Sign in
            </button>
            <p class="text-center text-sm text-gray-600">Don't have an account? <a asp-action="Signup"
                                                                                   asp-controller="Signup"
                                                                                   class="text-indigo-600 hover:underline">Sign
                    up</a></p>
        </form>
    </div>
</div>
