@page
@model ManagementPortal.Api.Views.Users.Index

@{
    Layout = "_Layout";
}

<h1>Users</h1>
<div>
    <h1>Users List</h1>
    <ul>
        @foreach (var user in Model.UserList)
        {
            <li>@user.Email</li>
        }
    </ul>
    
    <partial name="CreateUser"  model=@(new CreateUser { UserName = "John Doe"}) />
</div>
