@model UrlShortner.Api.Views.Shared.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@(Model.Error ?? "Error")</h1>
<h2 class="text-danger">@(Model.ErrorDescription ?? "An error occurred while processing your request.")</h2>
