@model CleanIAM.Identity.Api.Views.PasswordReset.PasswordResetSuccessViewModel


@{
    ViewData["Title"] = "Password Reset Success";
}

<div class="flex min-h-screen items-center justify-center bg-gray-50 p-6">
    <div class="w-full max-w-md bg-white p-8 rounded-xl shadow-xl ring-1 ring-gray-200">
        <h1 class="text-3xl font-semibold text-center text-gray-900 mb-6">Password Reset Success</h1>
        <p class="text-center text-gray-700 mb-4">Your password has been successfully reset.</p>
    </div>
</div>

