@model Identity.Api.Views.EmailVerification.EmailVerified

<div class="w-full h-screen flex justify-center items-center bg-gray-50">
    <div class="bg-white rounded-lg shadow-md p-8 w-full max-w-md">
        <!-- Success Message -->
        <div class="p-4 mt-4">
            <h3 class="text-lg font-semibold">Email Validation Successful</h3>
            <p>
                Your email address has been successfully validated.
                <br>
                You can now proceed with your account setup or
                login.
            </p>
        </div>

    </div>
</div>

