@model Identity.Api.Views.EmailVerification.EmailVerified

<div class="container">
    <div class="alert alert-success mt-4">
        <h3>Email Validation Successful</h3>
        <p>Your email address has been successfully validated. You can now proceed with your account setup or login.</p>
    </div>

    <div>
        You can now sign in to your application.
    </div>
</div>