@model Identity.Api.Views.EmailVerification.VerifyEmailViewModel

@{
    ViewData["Title"] = "Verify Email";
}

<div class="w-full h-screen flex justify-center items-center bg-gray-50">
    <div class="bg-white rounded-lg shadow-md p-8 w-full max-w-md">
        <div class="text-center mb-6">
            <h3 class="text-3xl font-bold">Verify Your Email</h3>
        </div>

        <p class="text-center text-gray-600 mb-8 text-lg">Before you can continue, you need to verify your email
            address.</p>

        <form method="post" asp-action="SendEmailVerification">
            <input type="hidden" asp-for="RequestId" value="@Model.RequestId"/>
            <span asp-validation-for="RequestId" class="text-red-500"></span>

            <div class="space-y-4">
                <button type="submit"
                        class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-md transition duration-200">
                    Send Verification Email
                </button>
            </div>
        </form>
    </div>
</div>

