@model Identity.Api.Views.PasswordReset.PasswordResetRequestViewModel

@{
    ViewData["Title"] = "Password Reset";
}

<div class="flex min-h-screen items-center justify-center bg-gray-50 p-6">
    <div class="w-full max-w-md bg-white p-8 rounded-xl shadow-xl ring-1 ring-gray-200">
        <h1 class="text-3xl font-semibold text-center text-gray-900 mb-6">Password Reset</h1>
        <form method="post" class="space-y-6" asp-action="">
            <div>
                <label asp-for="Email" class="block text-sm font-medium text-gray-700">Email</label>
                <input asp-for="Email" type="email"
                       class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 transition duration-300"
                       placeholder="Enter your email"/>
                <span asp-validation-for="Email" class="text-red-500 text-sm"></span>
            </div>
            <button type="submit"
                    class="w-full px-4 py-3 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 transition duration-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Send Password Reset Email
            </button>
        </form>

    </div>
</div>
